*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%); */
    min-height: 100vh;
    background: url("../img/1.png") no-repeat;
    background-size: cover;
    background-position: center;
}

a{
    color: white;
}



.header{
    padding: 10px;
}
.header-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    margin: 0 auto;
    margin-bottom: 50px;

    padding: .5rem 1rem;
    max-width: 60rem;    
    
    background-color: rgba(15, 72, 255, 0.122);
    border: .125rem solid rgb(255, 255, 255,.4);
    border-radius: 1rem;
    backdrop-filter: blur(16px);
}


.logo{
    position: relative;
    padding: .25rem;
    
    /* background-image: linear-gradient(270deg, #5f55ff 0%, #64ffe2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    
    font-family: Comic Sans MS, cursive;
    color: #fff;
    text-shadow: 0px 0px 16px rgb(12 146 255);

    cursor:pointer;
    user-select: none;
}

.navigator a{
    position: relative;
    font-size: 1.25rem;
    margin-left: 1rem;
    padding: .5rem;
    text-decoration: none;
    font-weight: 600;

    font-family: Comic Sans MS, cursive;
}

.navigator a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: .125rem;
    left: 0;
    bottom: .25rem;
    background-color: #fff;

    transform-origin:right;
    transform: scaleX(0);
    transition: transform .2s;
}

.navigator a:hover::after{
    transform-origin:left;
    transform: scaleX(1);
}



.header-btn-login{
    font-family: Comic Sans MS, cursive;

    margin-left: 1rem;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    font-weight: 600;

    color: #fff;
    background: transparent;
    border: .125rem solid #fff;
    
    border-radius: .5rem;
    outline: none;
    cursor: pointer;

    transition: .2s;
}

.header-btn-login:hover{
    background-color: #fff;
    color: #000;
}





.region-reg-auth{
    width: 20rem;
    height: 29rem;
    margin: auto;
}


.block-reg-auth{
    position: relative;
    height: 23rem;
    padding: 2rem;

    color: #ffffff;
    background-color: #0f48ff1f;
    border: .125rem solid rgb(255, 255, 255,.5);
    border-radius: 1rem;
    backdrop-filter: blur(16px);

    overflow: hidden;
}


.block-reg-auth h2{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}


.block-reg-container{
    position:absolute;
}

.block-auth-container{
    position: absolute;
}




.closeRegAuth{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 2.5rem;
    height: 2.5rem;
    top: 0;
    right: 0;    

    background-color: #dcdcff3d;
    border-bottom-left-radius: 1rem;

    cursor: pointer;
    user-select: none;
}



.inputer{
    position: relative;
    height: 2rem;
    margin-top: 1.5rem;

    border-bottom: 2px solid black;
}

.inputer .iconer{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: 0;
    top:0;
}
.inputer label{
    position: absolute;
    font-size: 1.25rem;
    left: 0;
    top: 0;
    pointer-events: none;
    transition: .2s;
    user-select:none;
}
.inputer input{
    margin-bottom: .5rem;
    padding: 0 2rem 0 .125rem;
    width: 100%;
    height: 100%;

    font-size: 1.125rem;
    background: transparent;
    border: none;
    outline: none;
}

.block-reg-auth button{
    display: block;
    width: 100%;
    height: 2rem;
    
    border-radius: .5rem;
}


.inputer-rem{
    margin: 1rem 0;
}
.inputer-rem input{
    margin-right: .25rem;
}


.inputer input:focus ~ label,
.inputer input:valid ~ label{    
    top: -1rem;
}




.anim-appearance-container{
    animation-name: appearance;
    animation-duration: 1s;
}

.anim-disappearance-container{
    animation-name: disappearance;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes appearance{
    0%{
        opacity: 0;
        transform: translateX(20rem);
    }
    100%{
    }
}

@keyframes disappearance{
    0%{
    }
    100%{
        opacity: 0;
        transform: translateX(-20rem);
    }
} 




.open-RA{
    animation-name: open-RA;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
.close-RA{    
    animation-name: close-RA;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}




@keyframes open-RA{
    0%{
        transform: scale(0);
    }    
    100%{
        transform: scale(1);
    }
}

@keyframes close-RA{
    0%{
        transform: scale(1);
    }    
    100%{
        transform: scale(0);
    }
}



.reg-already,
.auth-not-already{
    margin-top: 1rem;
    text-align: center;
}

