















.new-anim{
    /* box-shadow: 10px 5px 5px red; */
    /* background-color: #4158D0; */

    /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
    /* transition: scale(1.5) 1000 ease 100; */
    animation: myanim 1s infinite linear;
}
























/* .new-anim:before {
    content: "";
    position: absolute;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
     top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    z-index: 100;
    animation: floating 1s infinite linear;
} */

















@keyframes Gradient{
    0%{
        /* transform: translateX(2em);
         transform: rotate(0deg); */
         /* background:; */ 
         background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    }
    50%{
        /* transform: translateX(6em); */
        /* background-position: ; */
         /* transform: rotate(360deg); */
         background-image: linear-gradient(200deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    }
    100%{        
        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    }
}















@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}





.box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(20deg, #e81cff -80%, #40c9ff 184% );
    transform: translate3d(71px, 32px, 0) scale(0.95);
    filter: blur(58px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        












===============================================================================================================
===============================================================================================================
===============================================================================================================





.reg_color_title{
    color: rgb(69 170 255);
}




















.section-reg{
    margin: 0 auto;

    width: 350px;
    height: 400px;

    /* background-color: rgb(187, 255, 156); */
}

.block-reg{
    /* margin: 10px; */
    position: relative;
    width: 0%;
    height: 0%;
    margin: auto;
    padding: 1rem;

    opacity: 0;
    background-color: rgb(255, 255, 255);

    /* overflow: hidden; */
    border-radius: 1rem;
}
.block-reg-conteiner{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.block-reg::before{
    content: "";
    position: absolute;
    left: 0; top:0;

    width: 100%;
    height: 100%;
    z-index: -1;

    box-shadow: 0px 0px 2rem #21fde0;
    border-radius: 1rem;
}


.anim-open{
    animation: anim_open;
    animation-duration:  1.5s;
    animation-fill-mode: forwards;
}

.anim-close{
    animation: anim_close;
    animation-duration:  1.5s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}


@keyframes anim_open{
    0%{

        width: 0%;
        height: 0%;
        opacity: 0;
    }
    30%{        
        width: 100%;
        height: 10%;
        opacity: 1;
    }
    100%{
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}

@keyframes anim_close{
    0%{

        width: 0%;
        height: 0%;
        opacity: 0;
    }
    30%{        
        width: 100%;
        height: 10%;
        opacity: 1;
    }
    100%{
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}


.block-reg h2{
    margin-bottom: 1rem;
    color: rgb(76 131 255);
}
.block-reg p{
    margin: .25rem;
    font-size: 1.25rem;
}
.block-reg input{
    display: block;
    width: 100%;

    margin-bottom: 1rem;
    padding: .25rem .5rem;

    font-size: 1.125rem;
    border:rgb(0, 255, 255, .6) solid 0.1875rem;
    border-radius: 1rem;
}
.block-reg input::placeholder{
    color: rgb(63, 162, 255);
    opacity: .3;
}
.block-reg-conteiner button{
    padding: .25rem;
    font-size: 1rem;
    border-radius: .5rem;
}
.btn-to-reg{
    /* float: right; */
    padding: .5rem 1rem;
    font-size: 1.125rem;
    color: #7888ff;
    background-color: #acfffd;
    border-radius: 1rem;
    text-decoration: none;
}
.btn-to-reg:active{
    color: #44ff15;
}

@keyframes frames_opasiti {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.block-reg h2,.block-reg p, .block-reg input, .block-reg a{
    animation: frames_opasiti;
    animation-duration: 2s;
    /* animation-delay: 300ms; */
    animation-fill-mode: forwards;
}


.new-anim{
    
    animation: myanim 1s infinite linear;
}


@keyframes myanim {
    30% {
       box-shadow: 0px 0px 50px rgb(0, 255, 255);
    }
    70%{
        box-shadow: 0px 0px 100px rgb(233, 255, 36);
    }
}




































/* 

.region-reg-auth{
    width: 20rem;
    margin: auto;
}

.block-reg-auth{
    padding: 2rem;

    background-color: #4ebeff;
    border: .125rem solid rgb(255, 255, 255);
    border-radius: 1rem;
    overflow: hidden;
}



.block-reg-auth h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}


.block-reg-auth p{
    font-size: 1.25rem;
}

.block-reg-auth input{
    font-size: 1rem;
    display: block;
    width: 100%;
}





.block-reg-container{

}

.block-auth-container{

}





.anim-appearance-container{
    animation-name: appearance;
    animation-duration: 1s;
}

.anim-disappearance-container{
    animation-name: disappearance;
    animation-duration: 1s;
}



@keyframes appearance{
    0%{
        opacity: 0;
        transform: translateX(200px);
    }
    100%{
    }
}

@keyframes disappearance{
    0%{
    }
    100%{
        opacity: 0;
        transform: translateX(200px);
    }
} */